$primary-white: #fff;
$primary-black: #000;
$secondary-white: #f5f1e8;
$white-variant: #fcfaf8;
$primary-green: #0c3722;
$primary-gray: #3f3f3f;
$primary-olive-green: #b29d69;
$primary-text-green: #00572d;
$gray-variant: #eaecf0;
$contact-us-form-black: #191b1f;
